Username:<input ng-model='chatCtrl.username' />
<button ng-click='chatCtrl.connect()'>Connect</button>
<br />
<div id="chat" style="width: 100%;">
   <!-- <div id="connecting"  ng-hide="chatCtrl.connected">
    <div class="wrap">
      Connecting to socket.io server
      &nbsp; <i class='fa fa-spinner fa-spin'></i>
    </div>
  </div> -->
  <div ng-show='chatCtrl.connected'>
    <div id="messages" style="width: 100%;">
      <div id="lines"></div>
    </div>
    <form id="send-message">
      <input id="message" ng-model='chatCtrl.message'>
      <button ng-click='chatCtrl.sendMsg()'>Send</button>
    </form>
  </div>
</div>